/amature.html
/amature1.css
/basics.html
/basics2.html
/binayak.svg
/coder.png
/Dice Roller.py
/digit2word.py
/Game.py
/Hangman.py
/Helloworld.py
/linux.png
/Me_vectorart.jpg
/NewGit
/NewLevel.css
/project1.py
/Stack.cpp
/thanks.html
/WT
/WT Lab WorK